h2{
    color: #0f3d88;
}
p{
    color:#000;
}
.btn__secondary{
    background-color: #0f3d88;
    border:transparent;
}
.btn__secondary:hover{
    background-color: #2a5cad;
}
.portfolio-item .portfolio__title a {
    color: #0f3d88;
  }
h4{
    color:#0f3d88;
}
.statistic__item-para{
    color:#fff;
    font-weight: 700;
    line-height: 1;
}
.footer{
    background-color:#151414;
    color:#fff;
}
.footer__widget-nav li a{
    font-size: 16px;
    color: #878787;
    text-transform: capitalize;
}
.footer p {
    color:#fff;
}

